@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}
